{% extends 'base.html.twig' %}

{% block home %}

    <h1>Bienvenue sur Seasonal Job</h1>

    <div class="intro col-sm-6 offset-sm-3 col-lg-8 offset-lg-2">
        <h2>Pourquoi ce site ?</h2>

        <div>
            Comme beaucoup de saisonniers le savent, il n'est pas toujours facile de trouver un emploi d'une saison à une autre, c'est pourquoi
            ce site a été créé.<br>
            En effet, Seasonal Job permet de mettre en relation plus facilement les saisonniers et les employeurs afin qu'ils effectuent un premier
            contact grâce au site.
        </div>

        <br>

        <h2>Comment ?</h2>

        <div>Après avoir créé son compte au sein du site, selon votre statut (saisonnier ou employeur), vous pourrez déposer en ligne:
            <ul>
                <li>soit une annonce d’un emploi saisonnier avec une description du poste à pourvoir, le type (restauration, vente, conseiller
                    technique, crèche, agent d’entretien, alimentation, …) un lieu et les dates précises du poste.
                </li>
                <li>soit une annonce du saisonnier pour un emploi avec le type de poste recherché, un lieu définis ou non (selon mobilité de
                    la personne) et une date de disponibilité de prise de poste.
                </li>
            </ul>
        </div>
    </div>

{% endblock %}