{% extends 'base.html.twig' %}

{% block home %}

    {% if is_granted('ROLE_EMPLOYER') or is_granted('ROLE_SEASONAL') %}

    {% else %}

        <br/>

        <div class="intro col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <h2 class="logoColor-text resize-sm-h2-1 center-sm"><strong>Saisonniers, employeurs !</strong></h2>
            <br/>
            <div>
                <h4>Offrez vos compétences ou proposez un emploi et mettez-vous en contact plus facilement grâce à My Season !</h4>
            </div>
        </div>

        <br>

        <div class="col-sm-6 offset-sm-3 col-lg-8 offset-lg-2">
            <div class="card border-logoColor-border explain-card">
                <div class="card-header logoColor-background white-text"><h4>Comment ça marche ?</h4></div>
                <div class="card-body">

                    <div class="col-lg-10 offset-lg-1">
                        <h5 class="card-title logoColor-text"><i class="far fa-user resize-icon fa-fw"></i><strong>Saisonniers</strong></h5>
                        <p class="card-text justify">
                            Difficile de trouver un emploi d'une saison à l'autre, My Season vous aide à vous mettre en relation avec les employeurs.
                            <br>
                            Créez une annonce en indiquant la catégorie de l'emploi recherché, le lieu (ou mobilité) et votre disponibilité. Elle sera visible par nos différents employeurs inscrits.
                        </p>

                        <h5 class="card-title logoColor-text"><i class="fas fa-user-tie resize-icon fa-fw"></i><strong>Employeurs</strong></h5>
                        <p class="card-text justify">
                            Pas toujours évident de garder un employé saisonnier à chaque nouvelle saison, My Season vous propose de déposer vos annonces afin de vous mettre en relation avec les saisonniers.
                            <br>
                            Créez une annonce en indiquant le poste proposé, le lieu ainsi que les dates du contrat. Elle sera visible par nos différents saisonniers inscrits.
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <br/>
        <br/>

    {% endif %}

    <div class="parallax">
        <div class="col-lg-6 offset-lg-3 parallax-element center">

            {% if is_granted('ROLE_EMPLOYER') or is_granted('ROLE_SEASONAL') %}

                <h4 class="logoColor-text"><strong>Bienvenue</strong> sur
                    <strong><span style="color: black !important;">My</span> SEASON</strong>
                    <img src="{{ asset('Images/My_Season_Icon_reverse3white.png') }}" width="55" height="45" class="d-inline-block align-top logo-parallax" alt="">
                    !
                </h4>
                <hr/>
                <p class="logoColor-text">De nouvelles annonces sont en ligne. Profitez-en, il y en a peut-être une pour vous.</p>

            {% else %}

                <h4 class="logoColor-text"><strong>REJOIGNEZ-NOUS VITE</strong> sur
                    <strong><span style="color: black !important;">My</span> SEASON</strong>
                    <img src="{{ asset('Images/My_Season_Icon_reverse3white.png') }}" width="55" height="45" class="d-inline-block align-top logo-parallax" alt="">
                    !
                </h4>
                <br/>
                <div class="login center">
                    <button class="btn btn-connect round-button" data-toggle="modal" data-target="#ModalForm" title="Inscription ou connexion">
                        Se connecter
                    </button>
                </div>

            {% endif %}

        </div>
    </div>

    <br/>
    <br/>

    <div class="col-lg-8 offset-lg-2 col-sm-12" id="onWeb">
        <h2 class="logoColor-text"><strong>Les dernières annonces publiées :</strong></h2>
    </div>

    <div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1" id="onMobile">
        <div class="col-sm-10 offset-sm-1 logoColor-text resize-sm-h2">
            <p><strong>Les dernières annonces publiées :</strong></p>
        </div>
    </div>

    <br/>

    <div class="col-sm-10 offset-sm-1 col-lg-10 offset-lg-1">
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <i class="fas fa-chevron-left carousel-prev"></i>
        <span class="sr-only">Previous</span>
    </a>
    <div class="col-sm-10 offset-sm-1 col-lg-10 offset-lg-1">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for advert in adverts %}
                {% if loop.index == 1 %}
                <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                        {% endif %}
                        {% include 'advertCard.html.twig' %}
                        <br/>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="fas fa-chevron-right carousel-next"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>

{% endblock %}