{% extends 'base.html.twig' %}

{% block postingAd %}

    <br/>

    <div class="intro col-sm-10 offset-sm-1 col-lg-10 offset-lg-1">
        <h2 class="logoColor-text resize-sm-h2"><strong>Publier une annonce :</strong></h2>
    </div>

    <br>

    <form>
        <div class="col-lg-8 offset-lg-2 ad-form">
            <div class="row col-lg-8 offset-lg-2">
                <div class="form-group col-lg-8">
                    <label for="ad_title">Titre de l'annonce</label>
                    <input id="ad_title" type="text" class="form-control border-logoColor-border">
                </div>
                <div class="form-group col-lg-4">
                    <label for="ad_type">Catégorie de l'annonce</label>
                    <select id="ad_type" class="form-control border-logoColor-border">
                        <option selected>Sélectionner une catégorie</option>
                        <option>Agriculture</option>
                        <option>Animation</option>
                        <option>Entretien</option>
                        <option>Camping</option>
                        <option>Grande distribution</option>
                        <option>Parc de loisirs</option>
                        <option>Club nautique</option>
                        <option>Restauration</option>
                        <option>Magasin</option>
                        <option>Crêche</option>
                        <option>Hôtellerie</option>
                        <option>Tourisme</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control border-logoColor-border" id="exampleFormControlTextarea1" rows="12"></textarea>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="inputRegion">Région</label>
                    <input type="text" class="form-control border-logoColor-border" id="inputRegion">
                </div>
                <div class="form-group col-lg-6">
                    <label for="inputCity">Ville</label>
                    <input type="text" class="form-control border-logoColor-border" id="inputCity">
                </div>
            </div>
            <div class="col-lg-8">
                <p>Êtes-vous dans la capacité de vous déplacer dans toute la France ?</p>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline3">Oui</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline4" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline4">Non</label>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label for="exampleFormControlTextarea2">Si oui, veuillez indiquez votre mobilité :</label>
                <textarea class="form-control border-logoColor-border" id="exampleFormControlTextarea2" rows="1"></textarea>
            </div>
            <div class="form-group row col-lg-8 offset-lg-2">
                <label for="example-date-input" class="col-4 col-form-label">Date de disponibilité</label>
                <div class="col-8">
                    <input class="form-control" type="date" value="2019-04-20" id="example-date-input">
                </div>
            </div>
            <br/>
            <button type="submit" class="col-sm-12 col-lg-6 offset-lg-3 btn btn-primary btn-lg logoColor-background border-logoColor-border">Publier mon annonce</button>
        </div>
    </form>

{% endblock %}