{% extends 'base.html.twig' %}

{% block seasonalCharter %}

    <br/>

    <div class="col-sm-8 offset-sm-2 col-lg-10 offset-lg-1 center">
        <h2 class="logoColor-text resize-sm-h2"><strong>Charte du Saisonnier</strong></h2>
    </div>

    <br>

    <div class="col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 center">
        <i class="fas fa-list resize-icon logoColor-text"></i>
    </div>

    <div class="intro col-sm-4 offset-sm-4 col-lg-4 offset-lg-4 center">
        <h4 class="center">Annonce</h4>
        <p>Réalisez un descriptif claire et précis de votre annonce (poste, lieu et durée, mobilité, rémunération,
            disponibilité, permis ou véhicule).
            Plus l'annonce sera complète, plus vous aurez de chance de trouver une offre correspondante à votre recherche.
        </p>
    </div>

    <br>

    <div class="col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 center">
        <i class="fas fa-file-signature resize-icon logoColor-text"></i>
    </div>

    <div class="intro col-sm-10 offset-sm-1 col-lg-4 offset-lg-4 center">
        <h4 class="center">Engagement</h4>
        <p>Assurez-vous que vous pouvez tenir votre engagement vis-à-vis des futurs employeurs avant de créer une Annonce.
            Votre annonce reflètera au maximum le poste recherché ainsi que vos compétences dans le domaine lié.
        </p>
    </div>

    <br>

    <div class="col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 center">
        <i class="fas fa-comments resize-icon logoColor-text"></i>
    </div>

    <div class="intro col-sm-10 offset-sm-1 col-lg-4 offset-lg-4 center">
        <h4 class="center">Communication</h4>
        <p>Répondez à toutes les demandes de compléments d'information venant des employeurs à propos des annonces publiées.
        </p>
    </div>

    <br>

    <div class="col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 center">
        <i class="fas fa-handshake resize-icon logoColor-text"></i>
    </div>

    <div class="intro col-sm-10 offset-sm-1 col-lg-4 offset-lg-4 center">
        <h4 class="center">Valeurs</h4>
        <p>Vos intéractions avec les employeurs s'effectueront dans le respect, le partage, le professionnalisme et sans aucune forme de
            discrimination autant à travers le site internet My Season que sur le lieu de travail.
        </p>
    </div>

    <br>
    <br>

    <div class="col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 right-align">
        <h5>Nous vous souhaitons de passer de bonnes saisons !</h5>
        <h5>L'Equipe de <strong class="logoColor-text">My Season</strong></h5>
    </div>

    <br>

{% endblock %}