/* ________________________________________________________________________________________ */

/* Gestion de l'animation du titre du menu*/
/* ________________________________________________________________________________________ */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

/* Variable CSS des couleurs */
/*:root {*/
/*    --main-color-one: #6200ea !important;*/
/*    --main-color-two: #ea6200 !important;*/
/*    --success-color: limegreen !important;*/
/*    --error-color: #dc3545 !important;*/
/*    --white-color: white !important;*/
/*}*/

.f {
    font-size: 0.8em;
    position: fixed;
    top: 5px;
    right: 10px;
    color : #070707;
}

.f a {
    color : var(--main-color-one);
}

header {
    position : fixed;
    top:50%;
    /*transform:translateY(-50%);*/
}

.title-animation-header h1, h2 {
    margin : 0 1rem;
    white-space: nowrap;
}

.title-animation-header h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-left: -60px;
    color : #070707;
    font-size : 1.5em;
    /*font-weight : bold;*/
    /*text-transform : uppercase;*/
    /*animation : translate1 4s infinite;*/
}

.title-animation-header h2 {
    /*position : absolute;*/
    margin-top: -8px;
    margin-left: 25px;
    top : 30%;
    right : 5%;
    color : var(--main-color-one);
    font-size : 1.3em;
    font-weight : bold;
    text-transform : uppercase;
    /*animation : translate2 4s infinite;*/
}

/*@keyframes translate1{*/
/*    0% { opacity : 0; transform: translate(-16px, 0); }*/
/*    20% { opacity : 1; transform: translate(0, 0); }*/
/*    65% { opacity : 1; transform: translate(0, 0); }*/
/*    80% { opacity : 0; transform: translate(16px, 0); }*/
/*    100% { opacity : 0; transform: translate(16px, 0); }*/
/*}*/
/*@keyframes translate2{*/
/*    0% { opacity : 0; transform: translate(-32px, 0); }*/
/*    18% { opacity : 1; transform: translate(0, 0); }*/
/*    64% { opacity : 1; transform: translate(0, 0); }*/
/*    82% { opacity : 0; transform: translate(32px, 0); }*/
/*    100% { opacity : 0; transform: translate(32px, 0); }*/
/*}*/

/* ________________________________________________________________________________________ */

/* Gestion du titre du modal */
/* ________________________________________________________________________________________ */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

.f {
    font-size: 0.8em;
    position: fixed;
    top: 5px;
    right: 10px;
    color : #070707;
}

.f a {
    color : var(--main-color-one);
}

header {
    position : fixed;
    top:50%;
    transform:translateY(-50%);
}

.title-modal h1, h2 {
    margin : 0 1rem;
    white-space: nowrap;
}

.title-modal h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-left: -60px;
    color : #070707;
    font-size : 1.2em;
    /*font-weight : bold;*/
    /*text-transform : uppercase;*/
}

.title-modal h2 {
    /*position : absolute;*/
    margin-top: -8px;
    margin-left: 25px;
    top : 30%;
    right : 5%;
    color : var(--main-color-one);
    font-size : 1em;
    font-weight : bold;
    text-transform : uppercase;
}

/* ________________________________________________________________________________________ */

/* Gestion du titre du footer */
/* ________________________________________________________________________________________ */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

.f {
    font-size: 0.8em;
    position: fixed;
    top: 5px;
    right: 10px;
    color : #070707;
}

.f a {
    color : var(--main-color-one);
}

header {
    position : fixed;
    top:50%;
    transform:translateY(-50%);
}

.title-footer h1, h2 {
    margin : 0 1rem;
    white-space: nowrap;
}

.title-footer h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-left: -60px;
    color : var(--white-color);
    font-size : 1.5em;
    /*font-weight : bold;*/
    /*text-transform : uppercase;*/
}

.title-footer h2 {
    /*position : absolute;*/
    margin-top: -8px;
    margin-left: 25px;
    top : 30%;
    right : 5%;
    color : var(--white-color);
    font-size : 1.3em;
    font-weight : bold;
    text-transform : uppercase;
}